/* index.html */

/* Header */

* {
    box-sizing: border-box;
}
    
body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    
.topnav
{
    overflow: hidden;
    background-color: #00ff7f;
}
    
.topnav a
{
    float: left;
    display: block;
    color: black;
    font-weight:bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    
.topnav a:hover
{
    background-color: #bfbfbf;
    color: black;
}
    
.topnav a.active
{
    background-color: #2196F3;
    color: white;
    font-weight: bolder;
}
    
.topnav .search-container
{
    float: right;
}
    
.topnav input[type=text]
{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
    
.topnav .search-container button
{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
    
.topnav .search-container button:hover
{
    background: #ccc;
}
    
@media screen and (max-width: 600px)
{
    .topnav .search-container
    {
        float: none;
    }
        
    .topnav a, .topnav input[type=text], .topnav .search-container button
    {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
        
    .topnav input[type=text]
    {
        border: 1px solid #ccc;
    }
}

.navbar
{
    overflow: hidden;
    background-color: #333;
}
  
.navbar a
{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown
{
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn
{
    font-size: 17px;  
    border: none;
    outline: none;
    color: black;
    font-weight:bolder;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn
{
    background-color: #bfbfbf;
}
  
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover
{
    background-color: #bfbfbf;
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}

.tct-logo
{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}


/* 2-services.html */

.poster-below-caption
{
    caption-side: bottom;
}

/* 
* {
    box-sizing: border-box;
}

.services-left-poster
{
    float: left;
    width: 30%;
}

.services-right-information
{
    float: left;
    width: 70%;
}
 */

/* 
<section id="service-windows-11">
            <div class="services-left-poster"><img src="images/windows-11.png" alt="Windows 11" height="180px"></div>
            <article class="services-right-information">
                <table>
                    <tr>
                        <td><h3>Windows 11 Formatting + Upgrading</h2></td>
                        <td></td>
                    </tr>
                </table>
            </article>
        </section>

        <section id="service-windows-10">
            <div class="services-left-poster"><img src="images/windows-10.png" alt="Windows 10" height="180px"></div>
            <article class="services-right-information">
                <table>
                    <tr>
                        <td>
                            <h3>Windows 10 Formatting + Upgrading</h2>
                        </td>
                    </tr>
                </table>
            </article>
            */


/* 5-payment-methods.html */

.payment-methods
{
    background-color: #e0eaf6;
}

.td1-payment-methods-table
{
    border: 1.5px solid #000000;
    text-align: center;
    list-style: none;
    width: 0px;
    height: 50px;
}

.td2-payment-methods-table
{
    border: 1.5px solid #000000;
    text-align: center;
}

h1
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
}

/* [TNG] */


/* 5-about-us.html */

/* [Shopee] */

#shopee
{
    background-color: #e0eaf6;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 20px;
}

#h1-tct
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
}

#shopee-follow-button
{
    box-shadow:inset 0px 0px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:25px;
    border:3px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
    text-shadow:0px 0px 0px #ffee66;
}

#shopee-follow-button:hover
{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}

#shopee-follow-button:active
{
    position:relative;
    top:1px;
}

#top-10-table
{
    margin-left: auto;
    margin-right: auto;
}

#shopee-table-1
{
    margin: auto;
}

#shopee-table-2
{
    border: 2px solid #000000;
    margin: auto;
}

#shopee-table-3
{
    margin: auto;
}

.td1-shopee-table-3
{
    border: 1.5px solid #000000;
    text-align: center;
    width: 200px;
    height: 30px;
}

.td2-shopee-table-3
{
    color: black;
    border: 1.5px solid #000000;
    text-align: center;
    width: 300px;
    height: 30px;
}

h2
{
    margin: auto;
}

hr
{
    border-color: orange;
}

/* <div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div> */